{% extends 'base.html.jinja2' %}

{% block title %}
  HOME
{% endblock title %}

{% block content %}
  <h1>Student work: Abdullah Alharbi</h1>
  <h1>Technologies:</h1>
  <ul>
    <li><strong>Language:</strong> Python</li>
    <li><strong>Web Framework:</strong> Flask</li>
    <li><strong>Frontend Libraries:</strong> JQuery, Bootstrap</li>
    <li><strong>Backend Libraries:</strong> python-pptx, pdfrw,</li>
  </ul>
{% endblock content %}
