{% extends 'base.html.jinja2' %}

{% block title %}
  JPG to PNG
{% endblock title %}

{% block content %}
  <h1>JPG to PNG</h1>
  <p>use the following form to upload a jpg image</p>


  <form action="" method="POST" encrypt="multipart/form-data">
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" accept="image/png">
        <label class="custom-file-label" for="customFile">Choose JPG image</label>
        <small class="text-muted">We only accept jpg</small>
      </div>
    </div>

    <button type="submit" class="btn btn-secondary mt-4">Upload JPG</button>
  </form>
{% endblock content %}
