{% extends 'base.html.jinja2' %}

{% block title %}
  PNG to JPG
{% endblock title %}


{% block content %}
  <h1>PNG to JPG</h1>
  <p>use the following form to upload a png image</p>


  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <div class="custom-file">
        <input type="file" name="image" class="custom-file-input" id="customFile" accept="image/png">
        <label class="custom-file-label" for="customFile">Choose PNG image</label>
        <small class="text-muted">We only accept png</small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Upload PNG</button>
  </form>
{% endblock content %}
